/* mobile and tablet */
@media (max-width:1113px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .header__navbar{
        justify-content: center;
    }
    .header__search{
        width: 60%;
        margin: 0 20px;
    }
    .navbar__list-wrap{
        display: block;
    }
    .instruction__steps-item{
        margin: auto;
    }
    .security__img{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .reson-use__title, .service__title, .benefit-heading, .instruction__heading, .security__heading{
        font-size: 2.6rem;
    }
    .overlay-benefit .row{
        padding: 0 20px;
    }
    .news__list-content{
        padding: 0 20px;
    }
    .footer{
        padding: 0 20px;
    }
}

/* mobie */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .service__title , .reson-use__title{
        font-size: 2.6rem;
    }
    /* service */
    .service__heading{
        font-size: 2rem;
    }
    .service-donation-link{
        margin: 0 auto 20px auto;
    }
    .benefit-card{
        margin: 20px 40px;
    }
    .content__wrap{
        display: flex;
        flex-direction: row-reverse;

    }
    .news__content-img{
        width: 30%;
    }
    .news__content-text{
        margin: 0;
    }
    .footer__policy-socials-dowloadapps{
        flex-direction: column-reverse;
    }
    .socials__item{
        padding-top: 10px;
    }
}
/* tablet */
@media(min-width: 740px) and (max-width:1113px){
    .hide-on-tablet{
        display: none;
    }
    .service-donation{
        padding-bottom: 20px;
    }
}