/* header */
.header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    right: 0;
    left: 0;
    z-index:1024; 
}
.header__navbar{
    height: 60px;
    display: flex;
    /* background-color: var(--primary-color); */
    justify-content: space-around;
    align-items: center;
}
.navbar-wrap{
    display: flex;
    align-items: center;
}
.home-page__link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
}
.navbar__list{
    padding-left: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar__item{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 16px;
    height: var(--height-header);
    display: flex;
    align-items: center;
}
.navbar__item .navbar__item-icon{
    animation: swingDown ease-in-out 0.4s;
}
.navbar__item:hover .navbar__item-icon{
    animation: swingUp ease-in-out 0.4s;
    transform: rotate(180deg);
}
.navbar__item-link{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
}
.navbar__item-icon{
    font-size: 1rem;
}
.header__search{
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
}
.search__box{
    width: 100%;
    height: 36px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2px;
    padding: 0 10px;
    outline: none;
}
.search__icon{
    position: absolute;
    right: 0;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 10px;
}
.navbar__list-wrap{
    font-size: 4rem;
    color: rgb(140 140 140);
    display: none;
}
/* body */
.container{
    margin-top: var(--height-header);
}
.banner{
    position: relative;
}
.banner__transfer-page{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.836);
    outline: none;
}
.banner__transfer-left{
    left: 5%;
}
.banner__transfer-right{
    right: 5%;
}
.banner__img{
    width: 100%;
}
.banner__transfer-icon{
    font-size: 30px;
    color:white;
}

/* reason use */
.reson-use__title, .service__title, .benefit-heading, .instruction__heading, .security__heading, .news__heading{
    text-align: center;
    color: var(--text-heading-color);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
}
.reason-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.reason-item__avatar{
    position: relative;
    width: 80px;
    height: 80px;
}
.reason-item__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.reason-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 75%;
}
.reason-list-right .reason-item{
    flex-direction: row-reverse;
}
.reason-use__img{
    width: 100%;
}

.reason-item__content{
    font-size: 1.6rem;
    font-weight: 400;
    width: 60%;
}
.content__highlight{
    color: var(--primary-color);
    font-weight: 700;
}
.grid-container{
    background-color: rgb(245,245,245);
}

/* service */

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item{
    text-align: center;
    background-color: rgb(245,245,245);
    height: 80px;
    width: 100px;
    border: 1px solid  rgb(214, 214, 214);
    border-left: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px;
    position: relative; 
    cursor: pointer;
}
.service-item:first-child{
    border-left: 1px solid  rgb(214, 214, 214);
}
.service-item__img{
    width: 30px;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
}
.service-item.service-item-active{
    color: var(--text-heading-color);
}
.service-item.service-item-active::before{
    content: "";
    position: absolute;
    background-color: red;
    border: 1px solid var(--text-heading-color);
    top: 0;
    width: 100%;
    left: 0;
}
.service-layout{
    display: flex;
    padding: 20px;
    background-color: rgb(255,233,241);
    border-radius: 30px;
    width: 100%;
    margin: 20px auto;

}
.content-img{
   width: 100%;
   height: 90%;
   border-radius: 10px;
}
.service-container{
    font-size: 1.6rem;
}
.service__list-content{
    list-style: none;
    padding-left: 0;
}
.service__item-content{
    padding-bottom: 14px;
    display: flex;
    align-items: center;
}
.item-content__logo{
    margin-right: 10px;
}
.service__program-item{
    text-align: center;
    font-size: 1.4rem;
}
.service__program-item:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.program-item__img{
    width: 60px;
    display: block;
    margin: 0 auto 10px auto;
    border: 6px solid white;
    border-radius: 12px;
}
.service-donation{
    padding-top: 20px;
}
.service-donation-link{
    background-color: var(--primary-color);
    text-decoration: none;
    width: 160px;
    display: block;
    text-align: center;
    padding: 8px 10px;
    border-radius: 18px;
    font-weight: 900;
    color: white;
}

/* benefit */
.overlay-benefit{
    background-color: rgb(234,235,238);
    padding-bottom: 40px;
}
.benefit-heading{
    padding:40px 0 20px 0;
}
.benefit-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05),
    0 -4px 10px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.card__img{
    width: 100%;
    border-radius: 10px;
}
.card-info-wrap{
    padding: 16px;
}
.card__title{
    font-size: 2rem;
    font-weight: 600;
}
.card__content{
    font-size: 1.4rem;
    color: var(--text-color);
}
.card__footer{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.card__exipry-day{
    font-size: 1.4rem;
}
.card__watch-more{
    font-size: 1.4rem;
    text-decoration: none;
}
.card__watch-more:hover{
    color: var(--primary-color);
}

/* instruction */
.instruction{
    background-image: url(https://static.mservice.io/jk/momo2020/img/momo/bg-taiapp-big.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0;
}
.instruction__heading{
    color: white;
    margin-top: 0;
    padding-top: 20px;
}
.instruction__list{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
}
.instruction__item{
    background-color: rgb(189,189,189);
    padding: 10px;
    margin: 20px;
    width: 230px;
    text-align: center;
    /* border-radius: 6px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px ;
    position: relative;
}
.instruction__item::after{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent transparent rgb(189,189,189);
    right: -40px;
    top: 0;
}
.instruction__device{
    /* position: relative; */
}
.instruction__device-container{
    height: 500px;
    width: 300px;
    background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-190621112400-636967130404212068.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}
.instruction__steps-item{
    list-style: none;
    width: 50%;
    padding: 20px 0;
}
.instruction-item__title{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.instruction-item__title span {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    color: rgb(141,24,94);
}
.instruction-item__title p {
    margin: 0 20px;
}
.instruction-item__content{
    font-size: 1.4rem;
    color: rgb(238, 238, 238);
    margin-left: 50px;
    padding: 10px 0;
    text-decoration: none;
    animation: disappear ease 2s;
    display: none;
    position: relative;
    margin: 0 0 0 50px;
}
.instruction-item__title.active span{
    background-color: rgba(141, 24, 94, 0.801);
    color: white;
}
.instruction-item__title.active ~ .instruction-item__content{
    animation: appear ease-in-out 0.5s;
    display: block;
}
.tobe-customer{
    margin: auto;
    margin: 20px auto;
}
.tobe-customer{
    text-align: center;
    color: white;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px ;
    margin-top: 40px;
    border-radius: 6px;
}
.tobe-customer strong {
    color: rgb(255,205,0)
}
.wacth-now{
    width: 100px;
    background-color: rgb(255,205,0);
    border: 0;
    border-radius: 12px;
    padding: 6px 0;
    margin: 0 20px;
    animation: a ease 1s infinite;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
/* security */
.security__list-title, .news__list{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}
.security__item-title, .news__item{
    margin: 10px;
    padding: 10px 0; 
    cursor: pointer;
    position: relative;
}
.security__item-title::after, .news__item::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    right: 0;
    left: 0;
    background-color: rgb(165,0,100);
    display: none;
}
.security__item-title:hover, .news__item:hover{
    color: rgb(165,0,100);
   transition: ease 1s;
    
}
.security__item-title:hover.security__item-title::after , .news__item:hover.news__item::after{
    display: block;
    animation: fadeIn ease 1s;
}
.security__list-content{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}
.security__item-content{
    display: flex;
    align-items: center;
    padding: 20px;
}
.lnr-checkmark-circle{
    color: green;
    font-size: 3rem;
    margin: 0 10px 0 30px; 
}
.security__img{
    max-width: 80%;
    height: auto;
}
/* watch news */
.news__heading{
    padding-top: 40px;
}
.watch-news{
    background-color: rgb(245,245,245);
}
.news__content-img{
    width: 100%;
    border-radius: 4px;
    transition: transform 0.3s;
}
.news__item-content{
    display: flex;
    flex-direction: column;
}
.content__wrap{
    text-decoration: none;
}
.news__content-text{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}
.content__wrap:hover .news__content-img{
    transform: scale(1.05,1.05);
}
.content__wrap:hover .news__content-text{
    color: var(--primary-color);
}
.news__discount{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.news__discount-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: royalblue;
}
.news__discount-time{
    margin: 0 18px;
}
.wach-more__btn{
    margin: 40px auto;
    font-size: 1.4rem;
    padding: 6px 20px;
    border: 1px solid rgba(0, 0, 255, 0.61);
    border-radius: 20px;
}
.wach-more__btn-link{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.849);
    font-weight: 700;
}
.wach-more__btn:hover{
    background-color: rgba(43, 57, 255, 0.11);
}

/* footer */
.footer{
    background-color: rgb(48,48,48) ;
}
.footer-wrap{
    padding: 16px 0;
}
.footer__item{
    /* display: flex;
    flex-direction: column; */
    color: white;
}
.info-company{

}
.info__heading{
    margin: 4px 0;
}
.info__logo{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    margin: 4px 0;
}
.info__address{
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.2rem;
    margin: 4px 0;
}
.info__img{
    margin: 8px 0;
}
.care-about-list{
    display: flex;
    flex-direction: column;
}
.care__item-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
    font-weight: 700;
    font-size: 1.4rem;
    margin: 4px 0;
}
.customer-care__heading, .collab-info__heading{
    font-size: 1.6rem;
    font-weight: 600;
    color:  rgba(255, 255, 255, 0.527);
    margin-top: 0;
}
.customer-care__list, .collab-info__list{
    list-style: none;
    padding-left: 0;
}
.customer-care__item, .collab-info__item{
    color: rgba(255, 255, 255, 0.527);
    font-size: 1.3rem;
    font-weight: 600;
}
.customer-care__link, .collab-info__link{
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.815);
}
.footer__item a:hover {
    color: white;
}
.footer__policy-socials-dowloadapps{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    align-items: center;
    padding: 20px 0;
}
.policy-copyright__text{
    color:  rgba(255, 255, 255, 0.432);
    font-size: 1.4rem;
}
.socials__item{
    width: 30px;
    margin: 0 6px;
}
.dowload-apps__item{
    width: 120px;
    margin: 0 6px;
}